@import "~antd/dist/antd.less";
.ant-layout-header {
  background-color: black;
  /*background: linear-gradient(to right, red, blue);*/
  color: transparent;
}
.ant-layout-footer {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: block;
  top: 93%;
  background-color: black;
  color: transparent;
  padding: 15px 50px;
}
.ant-btn-primary {
  background: linear-gradient(to right, black, #2d2a2a);
  color: white;
  border-color: black;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  background-color: black;
  border-color: black;
}
.custom-section1 {
  min-height: 666px;
}